form { 
    margin-top: 30px;
    margin-left: 50px;
}

.form_line, button {
    display: block; 
}

.form_element  {
    display: block;
    width: 200px;
    height: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}

label {
    margin-top: 30px;
    text-align: left;
}

button {
    width: 150px;
    height: 30px;    
    /* margin-top: 20px; */
    margin-bottom: 5px;
    margin-left: 0%;
    background-color:lightblue;
}

#cancel {
    background-color: white;
    color: black;
}

#delete {
    background-color: lightcoral;
    columns: white ;
}


#buttons {
     margin-left: 0%;
}

.message {
    font-size: larger;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    background-color: crimson;
    margin-top: 10px;
    margin-left: 253px;
    width: 320px;
    height: 30px;
}

#result     {
    margin-left: 110px;
}

#content_area {
    width: 550px;
    border: 1px solid black;
}

.inline     {
    display: inline-block;
}

img {
    width: 100px;
    height: 150px;
    object-fit:cover;
    /* float: left; */
    float: left;
}

.user_details   {
    display: inline-block;
}

h1  {
    margin-top: 0%;
}

#dits {
    /* position: relative; */
    top: 10px;
    margin-left: 5px;
    }

#horizontal_label {
    width: 50px;
    display: inline-block;
    text-align:inherit;
    border: 1px solid black;
}



#title, #content  {
    width: 300px;
    margin-bottom: 5px;
}

#content    {
    height: 300px;
    vertical-align:text-top;
    overflow-wrap: normal;
}

textarea    {
    user-select: all;
}

.tag    {
    display: inline-block;
    border-radius: 3px;
    background-color: blue;
    color: white;
    padding: 3px;
}








