{% extends 'base.html' %}

{% block body %}

  <div id="content_area">
    
    
        <h1>Create a user</h1>
        <form action="/users/new/" method="POST">
            <label  class="form_element" for="f_name">First name</label>
            <input  class="form_element" type="text" name="f_name" id="f_name" required>

            <label  class="form_element" for="l_name">Last name</label>
            <input  class="form_element" type="text" name="l_name" id="l_name" required>

            <label  class="form_element" for="url">Image URL</label>
            <input  class="form_element" type="text" name="image_url" id="url">

            <button class="inline" type="submit">Add</button>
    </form>
  </div>
{% endblock %}