{% extends 'base.html' %}

{% block body %}

<h1>Add post for {{user.first_name}} {{user.last_name}}</h1>
{% set act_1 = "/users/" + user.id|string %}
{% set act_2 = "/users/" + user.id|string + "/posts/new/" %}

<form  action = {{act_2}} method="POST">
    <div class="form_line">
        <textarea name="title" id="title" cols=39" rows="1" autofocus placeholder="Enter post title here" required></textarea>
    </div>
    <div class="form_line">
        <textarea name="content" id="text" cols=39" rows="10" placeholder="Enter post content here" required></textarea>
        <!-- <input type="text" name="content" id="content"> -->
    </div>

    
    <button formaction={{act_1}} formmethod="get" class="inline" type="submit">Cancel</button>
    <button class="inline" type="submit">Add</button>
    
    
</form>
</div>
{% endblock %}