{% extends 'base.html' %}

{% block body %}
    <div id="content_area">
        
        {% set pic = user.image_url  %} 
        {% set act_1 = "/users/" + user.id|string + "/edit/" %}
        {% set act_2 = "/users/" + user.id|string + "/delete/" %}
        {% if user.image_url %}
            <img src={{user.image_url}}> 
        {% endif %}
        <h1>{{user.first_name}} {{user.last_name}}</h1> <br>
        <form>
            <button formaction={{act_1}} formmethod = 'POST' class="user_details" id="edit">Edit</button>
            <button formaction={{act_2}} formmethod = 'POST' class="user_details"  id="del">Delete</button>
        </form>
    </div>

{% endblock %}